section.advantages-equipment(id='advantages')
  .container
    .row
      .col-md-6
        .advantages-equipment__title Преимущества:
        ul.advantages-equipment__list
          li Легкое управление и маневренность
          li Траектория движения машинки очень необычна: она может двигаться во всех направлениях
          li Машинка имеет демо-режим, в котором она совершает зажигательный "танец"
          li Машинка прочная и надежная, все ее детали надежно закреплены, пластик прочный и безопасный
          li Машинка имеет повышенную проходимость и может покорять даже самые сложные трассы
      .col-md-6
        .advantages-equipment__title Комплектация:
        .row
          .col-md-4
            img(src='./img/car_equipment1.jpg').img-fluid
            .advantages-equipment__description Машинка
          .col-md-4
            img(src='./img/car_equipment5.jpg').img-fluid
            .advantages-equipment__description Пульт ДУ
          .col-md-4
            img(src='./img/car_equipment4.jpg').img-fluid
            .advantages-equipment__description Аккумулятор, шнур зарядки
        .row
          .col-md-12
            .row
              .col-md-4
                img(src='./img/car_equipment6.jpg').img-fluid
              .col-md-8
                .advantages-equipment__description * Дополнительно требуются две пальчиковые батарейки для пульта и крестовая отвертка для креплений