section.climbing-info
  .container
    h3 Монстр траки на пульте управления "Сlimbing King"
    p - радость и азарт для детей и взрослых
    .row
      .col-md-4
        .climbing-info
          img(src='./img/img-car-settings-1.jpg')
          .climbing-info--description Ездят во всех направлениях, даже в сторону
      .col-md-4
        .climbing-info
          img(src='./img/img-car-settings-2.jpg')
          .climbing-info--description Могут совершать разворот на 360º на месте
      .col-md-4
        .climbing-info
          img(src='./img/img-car-settings-3.jpg')
          .climbing-info--description Кнопка - демо-режим для зажигательного "танца"
    .climbing-info__characteristics
      .characteristics-item
        +sprite('icon', 'icon-car-settings-4')
        .characteristics-item__description Высокая проходимость
      .characteristics-item
        +sprite('icon', 'icon-car-settings-5')
        .characteristics-item__description Легкое управление
      .characteristics-item
        +sprite('icon', 'icon-car-settings-6')
        .characteristics-item__description Световые эффекты*
      .characteristics-item
        +sprite('icon', 'icon-car-settings-7')
        .characteristics-item__description Звуковые эффекты
      .characteristics-item
        +sprite('icon', 'icon-car-settings-8')
        .characteristics-item__description Частота - 2,4GHz
      .characteristics-item
        +sprite('icon', 'icon-car-settings-9')
        .characteristics-item__description Заряжаемый аккумулятор**
    .characteristics-notes
      p * Наличие эффектов зависит от типа модели
        br
        |** Емкость аккумулятора зависит от тапа модели