section.faq
  .container
    h3 Вопрос-ответ
    #faq.accordion
      .row
        .col-md-6
          .row
            .col-md-12
              .card
                #faq-a.card-header
                  button.btn(type='button', data-toggle='collapse', data-target='#faq-body-a', aria-expanded='true', aria-controls='faq-body-a')
                    | Машинка работает от аккумулятора или от батареек?
                #faq-body-a.collapse.show(aria-labelledby='faq-a', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.
            .col-md-12
              .card
                #faq-b.card-header
                  button.btn.collapsed(type='button', data-toggle='collapse', data-target='#faq-body-b', aria-expanded='false', aria-controls='faq-body-b')
                    | Как я могу заряжать аккумулятор?
                #faq-body-b.collapse(aria-labelledby='faq-b', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.
            .col-md-12
              .card
                #faq-c.card-header
                  button.btn.collapsed(type='button', data-toggle='collapse', data-target='#faq-body-c', aria-expanded='false', aria-controls='faq-body-c')
                    | Какой размер машинки?
                #faq-body-c.collapse(aria-labelledby='faq-c', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.
        .col-md-6
          .row
            .col-md-12
              .card
                #faq-d.card-header
                  button.btn(type='button', data-toggle='collapse', data-target='#faq-body-d', aria-expanded='true', aria-controls='faq-body-d')
                    | На машинку есть гарантия?
                #faq-body-d.collapse(aria-labelledby='faq-d', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.
            .col-md-12
              .card
                #faq-e.card-header
                  button.btn.collapsed(type='button', data-toggle='collapse', data-target='#faq-body-e', aria-expanded='false', aria-controls='faq-body-e')
                    | Если мне придет не рабочая машинка?
                #faq-body-e.collapse(aria-labelledby='faq-e', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.