section.faq
  .container
    h3 Вопрос-ответ
    #faq.accordion
      .row
        .col-lg-6
          .row
            .col-md-12
              .card
                #faq-a.card-header.collapsed(data-toggle='collapse', data-target='#faq-body-a', aria-expanded='true', aria-controls='faq-body-a')
                    | Машинка работает от аккумулятора или от батареек?
                #faq-body-a.collapse(aria-labelledby='faq-a', data-parent='#faq')
                  .card-body Машинка работает от аккумулятора, пульт управления работает от двух пальчиковых батареек.
            .col-md-12
              .card
                #faq-b.card-header.collapsed(data-toggle='collapse', data-target='#faq-body-b', aria-expanded='false', aria-controls='faq-body-b')
                    | Как я могу заряжать аккумулятор?
                #faq-body-b.collapse(aria-labelledby='faq-b', data-parent='#faq')
                  .card-body В комплекте имеется шнур для зарядки аккумулятора, его можно подключить к любому зарядному устройству через USB вход.
            .col-md-12
              .card
                #faq-c.card-header.collapsed(data-toggle='collapse', data-target='#faq-body-c', aria-expanded='false', aria-controls='faq-body-c')
                    | Какой размер машинки?
                #faq-body-c.collapse(aria-labelledby='faq-c', data-parent='#faq')
                  .card-body Длина машинки большего размера 27 см, ширина 20 см, высота 15 см.Длина машинки меньшего размера 23 см, ширина 16 см, высота 13 см.
        .col-lg-6
          .row
            .col-md-12
              .card
                #faq-d.card-header.collapsed(data-toggle='collapse', data-target='#faq-body-d', aria-expanded='true', aria-controls='faq-body-d')
                    | На машинку есть гарантия?
                #faq-body-d.collapse(aria-labelledby='faq-d', data-parent='#faq')
                  .card-body Гарантия на машинку отсутствует. В случае, если Вас что-то не устроит в машинке, Вы можете ее вернуть в течении 14 дней с момента покупки при условии сохранности упаковки, исправности и не поврежденности самой игрушки.
            .col-md-12
              .card
                #faq-e.card-header.collapsed(data-toggle='collapse', data-target='#faq-body-e', aria-expanded='false', aria-controls='faq-body-e')
                    | Если мне придет не рабочая машинка?
                #faq-body-e.collapse(aria-labelledby='faq-e', data-parent='#faq')
                  .card-body Мы проверяем весь товар перед отправкой на комплектность и работоспособность. Однако если так случится что Вам придет не работающая машинка, то вы сможете ее вернуть нам не позднее 14 дней с момента покупки и мы пришлем Вам новую исправную машинку.