section.order-form
  .container
    .order-form--items
      .order-form__title Заказать просто:
      .order-form__info
        .order-form__info-item тел.: +380 0542 655 345
        .order-form__info-item e-mail: monstercar@gmail.com
    form(action='')
      .row
        .col-lg-4.col-md-6
          input(type='text' placeholder='Ваше имя *').form-control
        .col-lg-4.col-md-6
          input(type='text' placeholder='Телеефон *').form-control
        .col-lg-4.col-md-6.m-auto.m-lg-0
          button(type='submit' data-toggle="modal" data-target="#modal-thanks").btn-buy Купить машинку