section.order-form
  .container
    .order-form--items
      .order-form__title Заказать просто:
      .order-form__info
        .order-form__info-item тел.: +380 0542 655 345
        .order-form__info-item e-mail: monstercar@gmail.com
    form(action='')
      .row
        .col-md-4
          input(type='text' placeholder='Ваше имя *').form-control
        .col-md-4
          input(type='text' placeholder='Телеефон *').form-control
        .col-md-4
          button(type='submit').btn-buy Купить машинку