section.full-car-info
  .container
    .row
      .col-md-12
        .row
          .col-md-7.col-lg-7
            h5 Большие машинки на радио управлении.
              br
              | Ездят в любом направлении по самым сложным трассам.
            .full-car-info__price
              .old-price 1799 грн
              .new-price 1133 грн
              .discount скидка 37%
        .select-color Выберите цвет и модель вашей машинки
        form(action='')
          .row.d-flex
            .col-md-2.car-title.racing-car
              input#racing.car-item(type='radio', name='car' checked='checked')
              label.css-label(for='racing') Racing Car
            .col-md-2.car-title.climbing-car
              input#climbing.car-item(type='radio', name='car')
              label.css-label(for='climbing') Climbing King
          .row.form-positions
            .col-md-6.col-lg-4.d-flex
              .color-item.blue-color.active#blue-color
                input#blue.css-radio(type='radio', name='color' checked='checked')
                label.css-label(for='blue')
              .color-item.orange-color#orange-color
                input#orange.css-radio(type='radio', name='color')
                label.css-label(for='orange')
              .color-item.green-color#green-color
                input#green.css-radio(type='radio', name='color')
                label.css-label(for='green')
              .color-item.red-color#red-color
                input#red.css-radio(type='radio', name='color')
                label.css-label(for='red')
            .col-md-6.col-lg-4
              button(type='submit' data-toggle="modal" data-target="#modal-form").btn-buy Купить машинку
            .col-md-6.col-lg-4
              .car-img-info
                .car.active.racing-car(data-color='blue-color')
                  img(src='./img/img_prod_rc_blue_s.jpg').car-img
                  img(src='./img/rc-settings.png').settings-ico
                .car.racing-car(data-color='orange-color')
                  img(src='./img/img_prod_rc_orange_s.jpg').car-img
                  img(src='./img/rc-settings.png').settings-ico
                .car.climbing-car(data-color='green-color')
                  img(src='./img/img_prod_ck_green_s.jpg').car-img
                  img(src='./img/ck-settings.png').settings-ico
                .car.climbing-car(data-color='red-color')
                  img(src='./img/img_prod_ck_red_s.jpg').car-img
                  img(src='./img/ck-settings.png').settings-ico