section.full-car-info
  .container
    .row
      .col-md-12
        .row
          .col-md-7.col-lg-7
            h5 Большие машинки на радио управлении.
              br
              | Ездят в любом направлении по самым сложным трассам.
            .full-car-info__price
              .old-price 1799 грн
              .new-price 1133 грн
              .discount скидка 37%
        form(action='')
          .row.form-positions
            .col-md-12.select-color__item
              .select-color Выберите цвет и модель вашей машинки
            .col-md-12.car-color
              .row
                .col-md-2.col-sm-4.car-title.racing-car
                  input#racing.car-item(type='radio', name='car')
                  label.css-label(for='racing') Racing Car
                .col-md-2.col-sm-4.car-title.climbing-car
                  input#climbing.car-item(type='radio', name='car')
                  label.css-label(for='climbing') Climbing King
            .col-md-6.col-lg-4.d-flex.car-color__check
              .color-item.blue-color#blue-color
                input#blue.css-radio(type='radio', name='color')
                label.css-label(for='blue')
              .color-item.orange-color#orange-color
                input#orange.css-radio(type='radio', name='color')
                label.css-label(for='orange')
              .color-item.green-color#green-color
                input#green.css-radio(type='radio', name='color')
                label.css-label(for='green')
              .color-item.red-color#red-color
                input#red.css-radio(type='radio', name='color')
                label.css-label(for='red')
            .col-md-6.col-lg-4.car-btn
              button(type='submit' data-toggle="modal" data-target="#modal-form").btn-buy Купить машинку
            .col-md-6.col-lg-4.car-color__image
              .car-img-info
                .car.active
                  img(src='./img/img-rc-car.png').car-img
                .car.racing-car(data-color='blue-color')
                  img(src='./img/img_prod_rc_blue_s.jpg').car-img
                  img(src='./img/rc-settings.png').settings-ico
                .car.racing-car(data-color='orange-color')
                  img(src='./img/img_prod_rc_orange_s.jpg').car-img
                  img(src='./img/rc-settings.png').settings-ico
                .car.climbing-car(data-color='green-color')
                  img(src='./img/img_prod_ck_green_s.jpg').car-img
                  img(src='./img/ck-settings.png').settings-ico
                .car.climbing-car(data-color='red-color')
                  img(src='./img/img_prod_ck_red_s.jpg').car-img
                  img(src='./img/ck-settings.png').settings-ico