section.gallery(id='gallery')
  .container
    h3 Фото
    p Посмотрите подробные фото машинок под разным ракурсом.
  .gallery-items.slider.d-block.d-md-flex
    a(href='./img/car_photogall_landing_1024_1.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_1.jpg')
    a(href='./img/car_photogall_landing_1024_2.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_2.jpg')
    a(href='./img/car_photogall_landing_1024_11.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_11.jpg')
    a(href='./img/car_photogall_landing_1024_3.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_3.jpg')
    a(href='./img/car_photogall_landing_1024_5.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_5.jpg')
    a(href='./img/car_photogall_landing_1024_6.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_6.jpg')
    a(href='./img/car_photogall_landing_1024_8.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_8.jpg')
    a(href='./img/car_photogall_landing_1024_7.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_7.jpg')
    a(href='./img/car_photogall_landing_1024_9.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_9.jpg')
    a(href='./img/car_photogall_landing_1024_10.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_10.jpg')
    a(href='./img/car_photogall_landing_1024_4.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_4.jpg')
    a(href='./img/car_photogall_landing_1024_12.jpg', data-fancybox='images')
      img(src='./img/car_photogall_s_12.jpg')