section.reviews(id='reviews')
  .container
    h3 Отзывы
    .row
      .col-md-4
        .reviews-item
          .reviews-item__name Виктор Сергеевич, Днепр
          .reviews-item__raiting
            .star
            .star
            .star
            .star
            .star
          .reviews-item__description Купили машинку для внука. Радости не было предела! Гоняет ее по всей квартире, специально делает для нее препятствия, которые она с легкостью преодолевает. Теперь у них конкуренция между сыном и папой кто будет на машинке гонять).
      .col-md-4
        .reviews-item
          .reviews-item__name Татьяна, Киев
          .reviews-item__raiting
            .star
            .star
            .star
            .star
            .star
          .reviews-item__description Искали для сына необычную игрушку, которая ему быстро не надоест. Эта машинка то что нужно! Столько эмоций было у сына, когда мы ее включили и она начала "танцевать". Машинка просто восторг!
      .col-md-4
        .reviews-item
          .reviews-item__name Сергей, Мариуполь
          .reviews-item__raiting
            .star
            .star
            .star
            .star
            .star
          .reviews-item__description Покупал машинку сыну, но реально играю и сам. Даже не думал, что так прикольно будет ей управлять. Машинка двигается во всех направлениях, переезжает легко через разные предметы на своем пути. Крутая машинка! Мечтал о такой в детстве.