section.site-info
  .container
    .row
      .col-md-3
        .site-info__item
          +sprite('icon', 'icon-about1')
          p Покупать на нашем сайте безопасно
      .col-md-3
        .site-info__item
          +sprite('icon', 'icon-about2')
          p Мы не требуем предоплату до отправки заказа
      .col-md-3
        .site-info__item
          +sprite('icon', 'icon-about3')
          p Вы его оплатите при получении на Новой почте
      .col-md-3
        .site-info__item
          +sprite('icon', 'icon-about4')
          p Мы проверяем каждую машинку перед отправкой