.advantages-equipment {
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  &::before {
    content: '';
    width: 100%;
    height: 65px;
    background: url('../img/grey_bg_top3_c.png') no-repeat top right;
    position: absolute;
    top: -65px;
    transform: rotate(-180deg);
    background-size: cover;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    color: $color_txt;
    font-family: $font_bold;
    margin-bottom: 20px;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      font-size: 18px;
      line-height: 24px;
      color: $color_bord;
      font-family: $font_main;
      display: flex;
      margin-bottom: 20px;
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        background: url('../img/svg/icon-bullet.svg') no-repeat center;
        margin-right: 10px;
        flex: 0 0 auto;
      }
    }
  }
  img {
    width: 160px;
    height: 125px;
    flex: 0 0 auto;
  }
  &__description {
    font-size: 18px;
    line-height: 24px;
    color: $color_txt2;
    font-family: $font_main;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}