.banner {
  min-height: 600px;
  background: url('../img/lolo_car_landing_head5.jpg') no-repeat bottom;
  position: relative;
  padding-top: 150px;
  font-family: $font_bold;
  color: $color_txt;
  @media (max-width:767px) {
    min-height: 450px;
    background-size: cover;
    padding-top: 125px;
  }
  &::after {
    content: '';
    width: 100%;
    height: 98px;
    position: absolute;
    bottom: 0;
    background: url('../img/svg/top-bg.svg') no-repeat;
    background-size: cover;
    @media (max-width:767px) {
      background-position: center;
    }
  }
  h1 {
    margin: 0;
    font-size: 46px;
    line-height: normal;
    @media (max-width:767px) {
      font-size: 36px;
      text-align: center;
    }
    @media (min-width: 768px) and (max-width: 980px) {
      max-width: 355px;
    }
  }
  h4 {
    font-size: 24px;
    line-height: normal;
    @media (max-width:767px) {
      font-size: 20px;
      text-align: center;
    }
    @media (min-width: 768px) and (max-width: 980px) {
      max-width: 355px;
    }
  }
  .container{
    position: relative;
    &::before {
      content: '';
      background: url('../img/car_head_c.png') no-repeat center;
      background-size: contain;
      position: absolute;
      width: 100%;
      max-width: 825px;
      height: 374px;
      top: 40px;
      right: 60px;
      @media (max-width:767px) {
        max-width: 100%;
        height: 136px;
        right: auto;
        background-position: center;
        top: 130px;
      }
    }
    @media (min-width: 768px) and (max-width: 980px) {
      &::before {
        right: 0;
        max-width: 706px;
      }
    }
  }
}