.banner {
  min-height: 600px;
  background: url('../img/lolo_car_landing_head5.jpg') no-repeat bottom;
  position: relative;
  padding-top: 150px;
  &::after {
    content: '';
    width: 100%;
    height: 98px;
    position: absolute;
    bottom: 0;
    background: url('../img/svg/top-bg.svg') no-repeat;
    background-size: cover;
  }
}