.full-car-info {
  background: $color_white;
  font-family: $font_main;
  position: relative;
  padding-bottom: 55px;
  padding-top: 20px;
  &::after {
    content: '';
    width: 100%;
    height: 65px;
    background: url('../img/grey_bg_top3_c.png') no-repeat top right;
    position: absolute;
    bottom: -65px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
    color: $color_bord;
    margin-top: 0;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 22px;
      line-height: 28px;
    }
  }
  &__price {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 15px;
    .old-price {
      font-size: 32px;
      line-height: 42px;
      color: $color_txt2;
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 25px;
      &::after {
        content: '';
        width: 132px;
        height: 2px;
        background: $color_red;
        transform: rotate(-15deg);
        position: absolute;
        left: 0;
      }
    }
    .new-price {
      font-size: 50px;
      line-height: 66px;
      font-family: $font_bold;
      color: $color_txt;
      margin-right: 20px;
    }
    .discount {
      text-align: center;
      font-size: 32px;
      line-height: 39px;
      color: $color_orange;
      padding: 2px 30px 5px;
      border: 2px solid $color_orange;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .new-price {
        order: 2;
      }
    }
  }
  .select-color {
    font-size: 18px;
    line-height: 26px;
    color: $color_bord;
    font-family: $font_main;
    margin-bottom: 10px;
  }
  .car-img {
    position: absolute;
    right: 0;
    top: -275px;
    @media (max-width: 767px) {
      position: relative;
      top: auto;
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  }
  .btn-buy {
    text-transform: uppercase;
    width: 100%;
    border: 1px solid $color_green;
    background: $color_green;
    color: $color_white;
    padding: 15px 5px;
    font-size: 24px;
    line-height: 32px;
    font-family: $font_bold;
    transition: .3s;
    &:hover {
      color: $color_green;
      background: $color_white;
    }
    @media (max-width: 767px) {
      margin-top: 10px;
      font-size: 20px;
      line-height: 26px;
      padding: 11px 5px;
    }
  }
}

.car-img {
  &-info {
    .car {
      display: none;
      flex-direction: column;
      align-items: start;
      &.active {
        display: flex;
      }
      .settings-ico {
        margin-left: auto;
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
}

.car-title {
  margin-bottom: 10px;
  min-width: 160px;
  input[type=radio] + label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    line-height: 32px;
    color: $color_txt;
    font-family: $font_bold;
    border: 2px solid $color_grey2;
    border-radius: 25px;
    margin-bottom: 0;
  }
  input[type=radio]:checked + label {
    border: 2px solid $color_bord;
  }
}

input[type=radio] {
  display: none;
}

.color-item {
  label {
    &::after {
      content: '';
      width: 49px;
      height: 49px;
      position: absolute;
      border-radius: 50%;
      background: $color_blue;
      @media (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  input[type=radio] + label {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 0;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    border: 2px solid $color_grey2;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
  &.active input[type=radio] + label {
    border: 2px solid $color_bord;
  }
}

.orange-color label::after {
  background: $color_orange;
}

.green-color label::after {
  background: $color_green;
}

.red-color label::after {
  background: $color_red;
}

@media (max-width: 767px) {
  .form-positions {
    .col-md-6 {
      &:nth-child(2) {
        order: 10;
      }
    }
    .car-img-info {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .form-positions {
    .col-md-6 {
      &:nth-child(2) {
        order: 10;
        max-width: 100%;
        flex: 0 0 auto;
        .btn-buy {
          margin: 20px auto;
          max-width: 350px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
.car-img-info {
  position: absolute;
  right: -290px;
}
}