.order-form {
  background: $color_blue;
  color: $color_white;
  font-family: $font_main;
  padding-top: 15px;
  &--items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-family: $font_bold;
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    &-item:nth-child(1) {
      margin-right: 15px;
    }
  }
  .form-control {
    margin-bottom: 25px;
    border-radius: 0;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    line-height: 26px;
    height: auto;
    color: $color_txt2;
  }
}