.order-form {
  background: $color_blue;
  color: $color_white;
  font-family: $font_main;
  padding-top: 15px;
  &--items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-family: $font_bold;
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    flex-flow: row wrap;
    a {
      color: $color_white;
    }
    &-item:nth-child(1) {
      margin-right: 15px;
    }
  }
  .btn-buy {
    transition: none;
    &:hover {
      background: #FF8A00;
      border: 1px solid #FF8A00;
      color: $color_white;
    }
  }
  @media (min-width: 980px) {
    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}