.navbar {
  padding: 15px 0;
  &.fixed-menu {
    background: $color_white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  }
  .navigation-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  &-brand {
    padding: 0;
    width: 224px;
    height: 83px;
    flex: 0 0 auto;
    @include adapt_to('large-phone') {
      width: 100px;
      height: 64px;
    }
  }
  .navbar-nav {
    margin: 15px 0 0;
    align-items: center;
    .nav-link {
      font-size: 20px;
      line-height: 26px;
      color: $color_txt;
      font-family: $font_bold;
      transition: .3s;
      margin-left: 10px;
      margin-right: 30px;
      padding: 0;
      &:hover {
        color: $color_green;
        text-decoration: none;
      }
      &.btn-buy {
        text-transform: uppercase;
        color: $color_white;
        background: $color_green;
        border: 1px solid $color_green;
        padding: 6px 30px;
        margin: 0;
        &:hover {
          color: $color_green;
          background: $color_white;
        }
      }
    }
    @include adapt_to('large-phone') {
      display: none;
    }
  }
  .header-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    a {
      font-size: 18px;
      line-height: 24px;
      color: $color_txt2;
      font-family: $font_main;
      margin-left: 10px;
    }
  }
  @include adapt_to('large-phone') {
    flex-flow: column wrap;
    .container {
      flex-wrap: wrap;
    }
  }
}