.navbar {
  padding: 15px 0;
  @media (max-width:767px) {
    padding: 10px 0;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      max-width: 100%;
      padding: 0 30px;
    }
  }
  &.fixed-menu {
    background: $color_white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  }
  .navigation-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  &-brand {
    padding: 0;
    width: 243px;
    height: 83px;
    flex: 0 0 auto;
    display: flex;
    @media (max-width:767px) {
      width: 100px;
      height: 64px;
      margin-right: 5px;
      margin-left: 10px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 220px;
      height: 72px;
    }
  }
  .navbar-nav {
    margin: 15px 0 0;
    align-items: center;
    .nav-link {
      font-size: 20px;
      line-height: 26px;
      color: $color_txt;
      font-family: $font_bold;
      transition: .3s;
      margin-left: 10px;
      margin-right: 30px;
      padding: 0;
      white-space: nowrap;
      &:hover {
        color: $color_white;
        text-decoration: none;
        background: $color_blue;
      }
      &.btn-buy {
        text-transform: uppercase;
        color: $color_white;
        background: $color_green;
        border: 1px solid $color_green;
        padding: 6px 30px;
        margin: 0;
        &:hover {
          background: $color_blue;
          color: $color_white;
          border-color: $color_blue;
        }
      }
      @media (max-width:900px) {
        display: none;
        &.btn-buy {
          display: flex;
          font-size: 14px;
          line-height: 18px;
          padding: 5px 15px;
        }
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-left: 0;
        margin-right: 20px;
        font-size: 18px;
        line-height: 24px;
      }
    }
    @media (max-width:767px) {
      margin-top: 5px;
      margin-right: 30px;
    }
  }
  .header-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    a {
      font-size: 18px;
      line-height: 24px;
      color: $color_txt2;
      font-family: $font_main;
      margin-left: 10px;
    }
    @media (max-width:767px) {
      justify-content: flex-end;
      margin-right: 30px;
      a {
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
  @media (max-width:767px) {
    flex-flow: column wrap;
  }
}