#top
nav.navbar.navbar-expand.fixed-top
  .container
    a.navbar-brand(href='#top')
      img(src='./img/svg/logo.svg').img-fluid.d-none.d-md-block.m-auto
      img(src='./img/svg/small-logo.svg').d-block.d-md-none
    .navigation-list
      ul.header-info
        li
          a(href='#') тел.: +380 0542 655 345
        li
          a(href='#') e-mail: monstercar@gmail.com
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#description') Описание
        li.nav-item
          a.nav-link(href='#advantages') Преимущества
        li.nav-item
          a.nav-link(href='#gallery') Фото/видео
        li.nav-item
          a.nav-link(href='#reviews') Отзывы
        li.nav-item
          a.nav-link.btn-buy(href='#' data-toggle="modal" data-target="#modal-buy") Купить
