extends ./extends/layout
block variables
  - var title = "Car lending"

block content
  include ./includes/header
  main
    include ./sections/banner
    include ./sections/full-car-info
    include ./sections/climbing-car-info
    include ./sections/advantages-equipment
    include ./sections/site-info
    include ./sections/gallery
    include ./sections/form
    include ./sections/reviews
    include ./sections/faq

  include ./includes/footer
  include ./components/modal-buy
  include ./components/modal-form
  include ./components/modal-thanks